<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Definición de permisos personalizados para proteger los datos -->
    <permission
        android:name="com.example.sicenet.READ_SICENET"
        android:label="Leer datos de Sicenet"
        android:protectionLevel="normal" />


    <permission
        android:name="com.example.sicenet.WRITE_SICENET"
        android:label="Escribir datos de Sicenet"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Sicenet">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sicenet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registro del Content Provider con permisos de lectura y escritura -->
        <provider
            android:name=".data.local.SicenetProvider"
            android:authorities="com.example.sicenet.provider"
            android:exported="true"
            android:enabled="true"
            android:readPermission="com.example.sicenet.READ_SICENET"
            android:writePermission="com.example.sicenet.WRITE_SICENET" />


    </application>

</manifest>
